.info-header {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
}

.info-header__title {
  width: 23%;
  font-size: 30px;
  font-weight: 500;
  padding: 20px 0;
  margin: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.info-form__content {
  padding: 10px;
}

.info-page__each {
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 17px;
  cursor: pointer;
}
.info-page__each:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
