.update-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
}

.update-header__title {
  width: 250px;
  font-size: 30px;
  font-weight: 500;
  padding: 20px 0;
  margin: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.update-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 25px;
}

.update-form input {
  padding: 10px 0;
  font-size: 15px;
  border-radius: 3px;
  border-style: none;
  background-color: rgba(0, 0, 0, 0.05);
}

.update-form input[type="text"],
.update-form input[type="password"] {
  width: 235px;
  padding-left: 15px;
}
.update-form input[type="submit"],
.update-form input[type="reset"] {
  width: 250px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
  background-color: black;
  color: white;
  cursor: pointer;
}
.update-form input[type="submit"]:hover,
.update-form input[type="reset"]:hover {
  color: black;
  background-color: #e0dfdf;
}
.update-form input:focus {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: white;
}
.update-form input[type="text"]:first-child {
  cursor: default;
  border-radius: 3px;
  border-style: none;
  background-color: rgba(0, 0, 0, 0.05);
}
