body {
  background-color: #2b2b2b;
}
.main-body {
  display: flex;
  padding-top: 120px;
}
.main-sidebar {
  width: 13%;
}
.main-sidebar:first-child {
  float: left;
}
.main-sidebar:last-child {
  float: right;
}
.main-contents {
  background-color: white;
  display: flex;
  width: 74%;
  float: left;
}
