/*
#body {
  height: 100px;
}
#content {
  height: 700px;
}

#bodydetail2 {
  text-align: right;
}
h3 {
  display: inline-block;
}
form {
  display: inline-block;
}
hr {
  text-align: center;
  width: 800px;
}
*/
.footer {
  clear: both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #2b2b2b;
  bottom: 0;
  height: 100px;
  color: rgb(161, 161, 161);
  position: relative;
}
.footer-info {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  padding: 20px 0;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
}
.footer-copyright {
  padding-top: 30px;
  display: flex;
  font-weight: 300;
  font-size: 13px;
}
